<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://ec2-18-222-50-85.us-east-2.compute.amazonaws.com:3306/SisEnrollment"/>
        <property name="username" value="remoteuser"/>
        <property name="password" value="password"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper class="pe.com.gadolfolozano.app.database.mybatismapper.AlunoEntityMapper" />
    <mapper class="pe.com.gadolfolozano.app.database.mybatismapper.SessionEntityMapper" />
  </mappers>
</configuration>